.close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  padding: 0;
  right: 8px;
  top: 8px;
  cursor: pointer;
  background-color: $primary-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &__icon {
    fill: $title-text-color;
  }

  &:hover .close-button__icon {
    fill: $accent-color;
  }
}
