.logo {
  display: block;
  flex-shrink: 0;

  align-items: center;
  @media screen and (min-width: $desktop) {
    align-items: start;
  }

  @media screen and (max-width: $tablet) {
    padding: 16px;
  }
}
