.menu {
  display: flex;
  background-color: $primary-white-color;
  padding: 60px 10px;
  @media screen and (min-width: $tablet) {
    padding: 0;
  }

  &.is-open {
    display: block;
    @media screen and (min-width: $tablet) {
      display: flex;
    }
  }

  @media screen and (max-width: $tablet) {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
