.footer {
  background-color: $footer-bcg-color;
  padding: 60px 0;

  &__flex {
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__list {
    display: flex;

    @media screen and (max-width: calc(#{$tablet} - 1px)) {
      flex-direction: column;
    }
    justify-content: space-between;

    margin: -30px auto 30px;
    @media screen and (min-width: $desktop) {
      margin: 0;
    }
  }

  &__item {
    text-align: center;
    margin: 30px auto;

    @media screen and (min-width: $desktop) {
      margin: 0;
    }
  }

  &__item:first-child {
    @media screen and (min-width: $desktop) {
      margin-right: 70px;
    }
  }

  &__email,
  &__phone {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &__logo {
    margin-bottom: 20px;
    display: inline-block;
    @media screen and (min-width: $desktop) {
      display: block;
    }
  }
}

.address {
  font-style: normal;
  text-align: center;
  @media screen and (min-width: $desktop) {
    text-align: start;
  }

  &__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-white-color;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.join__text,
.subscribe__text {
  margin-bottom: 20px;
  text-align: center;
  display: block;

  @media screen and (min-width: $desktop) {
    text-align: start;
  }

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
}

.subscribe__container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.subscribe__container-input {
  flex-grow: 1;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  padding: 15px;
  color: $primary-white-color;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 100%;
  max-width: 450px;

  @media screen and (min-width: $desktop) {
    width: 350px;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

input:focus::-webkit-input-placeholder {
  transition: text-indent 0.3s ease;
}

:focus::-moz-placeholder {
  color: transparent;
}
