.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: $primary-white-color;
  border-bottom: 1px solid #ececec;
}

.header__items {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  // margin-left: auto;
  flex-wrap: wrap;
  // margin: 0 -15px;
}
