.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: $primary-white-color;
  border-bottom: 1px solid #ececec;

  &__items {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width: $tablet) {
      align-items: start;
    }
  }

  &__logo {
    @media screen and (min-width: $tablet) {
      margin-right: 81px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 85px;
    }
  }
}
