.layout__sect {
  padding-top: 94px;
  padding-bottom: 94px;

  &.portfolio {
    border: 1px solid #ececec;
  }

  &.is--no-padding-top {
    padding-top: 0;

    @media screen and (max-width: calc(#{$desktop} - 1px)) {
      display: none;
    }
  }

  &.is--background {
    background-color: $secondary-background-color;
  }
}
